* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 251, 251);
}

main {
    margin: 20px;
}

header {
    top: 0;
    position: fixed;
}

#cabecalho {
    background-color: cadetblue;
    box-shadow: 0 2px 10px ;
    width: 100%;
    margin-left: 0%;
    position: fixed;
    padding: 0;
    top: 0;
}

#titulo {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

#navegacao {
    font-family: Arial, Helvetica, sans-serif;  
    margin-left: 5%;
    bottom:0;
    font-size: 20px;
    color:lightgreen
}

#minha_foto {
    width: 150px;
    margin-top: 170px;
    margin-left: 2%;   
}

#licoes_aprendidas {
    float: left;
    width: 30%;
     margin-top: 3%;
     margin-left: 50px;
     bottom: 25px;
    position: relative;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

#licoes_a_aprender {
    float: right;
    width: 20%;
    padding: 20px;
    position: relative;
    margin: 0%;
    margin-left: 40%;
    bottom: 20px;
    top: 0;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

#article {
max-width: 50%;
text-align: center;
margin-left: 30%;
float: left;
margin: 0;
width: 400px;
height: 300px;
}

.lado-esquerdo{
display: inline-block;
width: 30%;
margin-left: 10px;
}

.lado-direito {
display: inline-block;
width: 30%;
margin-left: 50px;
}

#aside {
max-width: 50%;
width: 400px;
margin-top: 20px;
margin-right: 8%;
float: right;
text-align: center;
}

#table {

background-color:lightgreen;
text-align: center;
position: static;
bottom: 0;
margin: 500px;
top: 0;

}

#rodape {
    background-color: rgb(36 32 36);
    width: 100%;
    margin-top: 25px;
    margin-left: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
